
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.forgot{
    background-image: url('/assets/image/trans2.png');
    background-size: contain;
    background-repeat: no-repeat;
}