<div class="forgot">

    <form [formGroup]="changepwd" class="text-center" (ngSubmit)="ChangePwd()">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="form col-md-6 mx-3 my-3">
                <h2 class="text-center my-3">Reset password</h2>
    
                <h5 *ngIf="successMessage" class="text-center text-success">Password changed successfully.</h5>
                
              
                    <mat-form-field class="example-full-width">
                        <mat-label>Username </mat-label>
                        <input matInput type="text" formControlName="Username">
                    </mat-form-field>
                    <div *ngIf="Username && Username.invalid && Username.touched" class="text-danger">
                        Enter valid Username
                    </div>
          
    
              
                    <mat-form-field class="example-full-width">
                        <mat-label>Email </mat-label>
                        <input matInput type="email" formControlName="Email">
                    </mat-form-field>
                    <div *ngIf="Email && Email.invalid && Email.touched" class="text-danger">
                        Enter valid Email
                    </div>
      
    
              
                    <mat-form-field class="example-full-width">
                        <mat-label>Password </mat-label>
                        <input matInput type="password" formControlName="Password">
                    </mat-form-field>
                    <div *ngIf="Password && Password.invalid && Password.touched" class="text-danger">
                        Enter valid password
                    </div>
     
    
              
                    <mat-form-field>
                        <mat-label>Confirm your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div *ngIf="changepwd.hasError('mismatch') && changepwd.touched" class="text-danger">
                        Passwords must be the same
                    </div>
       
    
              
                    <div>
                        <button type="submit" [disabled]="!changepwd.valid" class="btn btn-primary my-3"> Submit</button>
                    </div>
              
            </div>
        </div>
    </form>
    
</div>