

#firsr,#second {
    padding: 20px;
    text-align: justify;
}


#jump:hover {
    transition: transform 300ms;
    transform: translateY(-10px);
}


#story {
    float: right;
}
#head{
    color:purple;
}


#body {
    margin-left: 10px;
}

body {
  text-align:justify;
}

h1 {
    color: #333;
}

h2 {
    color: #444;
}

p {
    color: #666;
}

#jump:hover {
    transition: transform 300ms;
    transform: translateY(-10px);
}

#story {
    float: right;
}

#body {
    margin-left: 10px;
}
