
<h1 class="text-center my-3" id="head">
    Welcome {{name}}...
</h1>
<div class="row mx-2">
    <div class="col-md-6 col-sm-12">
        <img src="./assets/image/basketball-team-new.jpeg" class="img-fluid" />
    </div>
    <div class="col-md-6 col-sm-12" id="paragraph">
        The right  administrator can help everyone else reach their full potential by maintaining clear communication, managing visitors and vendors, handling correspondence, and generally ensuring a harmonious workplace.
        If youre looking to hire someone for this critical role, a well-written office admin job description is key.
        This office administrator job description template can help you create a posting that will attract the best qualified candidates and turn them into applicants.
        You can also browse our office administrator job listings for more ideas on how to fill out your description.
        This office administrator job description template can help you create a posting that will attract the best qualified candidates and turn them into applicants.
        You can also browse our office administrator job listings for more ideas on how to fill out your description. </div>
</div>


   


