<footer class="text-center" id="footer">
    <p>&copy; 2024-BasketBall Academy </p>
    <div class="my-3">
      
        <a href="">	<i class='fab fa-facebook mx-3' style='font-size:20px;color:white;' id="icon"></i></a>
        <a href="">	<i class='fab fa-twitter mx-3' style='font-size: 20px; color: white' id="icon"></i></a>
        <a href="">	<i class='fab fa-instagram mx-3' style='font-size: 20px; color: white' id="icon"></i></a>
        <a href="">	<i class='fab fa-youtube mx-3' style='font-size: 20px; color: white' id="icon"></i></a>
    </div>
</footer>