<nav class="navbar navbar-expand-md">
    <div class="container">
    <a class="navbar-brand">
      <img src="assets/image/logo.png" alt="Logo" height="80" width="80" />
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link mx-3" routerLink="/player/home">Home</a></li>
          <li class="nav-item"><a class="nav-link mx-3" routerLink="/player/update">Update profile</a></li>
          <li class="nav-item"><a class="nav-link mx-3" routerLink="/player/enroll_academy">Enroll academy </a></li>
          <li class="nav-item"><a class="nav-link mx-3" routerLink="/player/my_events">My events </a></li>
          <li class="nav-item"><a class="nav-link mx-3" routerLink="/signin">Sign out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  
  
  