<div class="container">
    <h2 class="text-center my-3" id="head">My players</h2>
    <div class="row">
        <div *ngFor="let player of players" class="col-md-4 mb-4">
            <div class="card">
                <img [src]="player.photo" class="card-img-top" alt="Player Photo" style="height: 400px;">
                <div class="card-body">
                    <h5 class="card-title">{{ player.fullName }}</h5>
                    <p class="card-text">Age: {{ player.age }}</p>
                    <p class="card-text">Gender: {{ player.gender }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
