<div class="signup">


    <form [formGroup]="signup" (ngSubmit)="Signup()">

        <h1 class="text-center my-3" id="head">Sign up</h1>

        <h3 *ngIf="successMessage" class="text-center  text-success">Signup successfull.</h3>

        <h3 *ngIf="failiureMessage" class="text-center text-danger">"Email ID already exist,try with another one".</h3>

        <div id="Event">
            <div class="form-horizontal mx-5" id="EventForm">

               
                    <mat-form-field class="example-full-width mt-5">
                        <mat-label>Name </mat-label>
                        <input matInput type="text" formControlName="fullName">
                    </mat-form-field>
                    <div *ngIf="fullName && fullName.invalid && fullName.touched" class="text-danger">
                        Name is required
                    </div>

              
                    <mat-form-field class="example-full-width">
                        <mat-label>Email </mat-label>
                        <input matInput type="text" formControlName="email">
                    </mat-form-field>
                    <div *ngIf="email && email.invalid && email.touched" class="text-danger">
                        Enter valid email
                    </div>

              
                    <mat-form-field class="example-full-width">
                        <mat-label>Username </mat-label>
                        <input matInput type="text" formControlName="username">
                    </mat-form-field>
                    <div *ngIf="username && username.invalid && username.touched" class="text-danger">
                        Enter valid username
                    </div>
  
              

                    <mat-form-field class="example-full-width">
                        <mat-label>Password </mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>

                    <div *ngIf="password && password.invalid && password.touched" class="text-danger">
                        Enter valid password
                    </div>

          
              
                    <mat-form-field>
                        <mat-label>Confirm your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div *ngIf="signup?.errors?.['mismatch']&& signup?.touched" class="text-danger">
                        Passwords must be the same
                    </div>

            

                <div class="form-group text-center">
                    <button type="submit" [disabled]="!signup.valid" class="btn btn-outline-primary my-3">
                        Register
                    </button>
                    <p>
                        Already have an account? <a routerLink="/signin">Sign in</a>
                    </p>
                </div>
            </div>
        </div>
    </form>

</div>