<div class="container m-3">
    <div class="row">
        <div  *ngFor="let coach of coaches" class="col-md-4 mb-3">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4 text-center">                
                        <img [src]="coach.photo" alt="Coach Photo" height="100" width="100">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">        
                            <h5 class="card-title">{{coach.fullName}}</h5>
                            <div class="card-text">
                              <div> <strong>Experience:</strong> {{coach.experience}} Years</div>
                            </div>
                            <div> <strong>Primary Skill:</strong> {{coach.primarySkill}}</div> 
                       
                            <a (click)="EnrollPlayer(coach.id,coach.fullName)" class="btn btn-primary">Choose coach</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
