#EventForm {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 400px;
    border: 2px solid purple;
    border-radius: 10px;
    flex-direction: column;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.7);
}

#Event {
    justify-content: center;
    align-items: center;
    display: flex;
}

.addadmin{
    background-image: url('/assets/image/adminbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}