<div class="signin">

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="mt-5">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <!-- <img src="~/Content/image/trans2.png" height="700" width="700" /> -->
            </div>

            <div class="center-form my-5 col-md-6 col-sm-12">
                <div class="form-container">
                    <h2 class="text-center my-3" id="head">Sign in</h2>

                    <h5 *ngIf="failureMessage" class="text-center text-danger">Invalid credientials</h5>

                    <mat-form-field class="example-full-width">
                        <mat-label>Username </mat-label>
                        <input matInput type="text" formControlName="username">
                    </mat-form-field>

                    <div *ngIf="username && username.invalid && username.touched" class="text-danger">
                        Valid username is required
                    </div>

                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>

                    <div *ngIf="password && password.invalid && password.touched" class="text-danger">
                        Valid password is required
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mx-5 my-3"> Sign in </button>
                    </div>



                    <p class="text-center">
                        Forgot password? <a routerLink="/forget_password">Click here</a>
                    </p>

                    <p class="text-center">
                        Not a member? <a routerLink="/signup">Sign up</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>