
<h1 class="text-center my-3" id="head">
    Welcome {{name}}...
</h1>

    <marquee scrollamount="8" behavior="alternate" >
    
        <div class="text-danger fw-bold fs-3">
            Complete your profile to become eligible as a coach.
        </div>
    </marquee>


<div class="row mx-2">
    <div class="col-md-6 col-sm-12">
        <img src="./assets/image/coachdiscussion.jpg" class="img-fluid" />

    </div>
    <div class="col-md-6 col-sm-12">
        <div id="paragraph">
            Coaching basketball is about strategizing and directing the movements and actions of a basketball team or
            individual player.
            Coaches strategize and scout opposing teams and find ways to defeat them as easily as possible. A successful
            basketball coach needs to now the understanding of how to play the game.
            A basketball coach must be able to manage the duties of the job by recruiting the top players, get them in
            shape, make a team,
            motivate players and teach them how to play the game of basketball. Coaching is usually done by a single
            person, with the help of one or more assistants.
        </div>
        <div class="my-4" id="paragraph">
            A coach is the face of the team, helping it achieve the public relations goals of the organization and build
            a positive image that will improve recruiting. (Edmunds).
            A coach is responsibiable for setting up and an environment so that the team can use its skills and
            abilities to their full potential.
            Therefor a coach has to make a game plan for each game, so that his team will be ready for the next
            opponent.
            A coach has to know his team and the opponent abilities to be able to match his team up with the opponent.
        </div>
    </div>

</div>

<div>
    <app-event-home></app-event-home>
</div>